@import "~antd/dist/antd.css";

#root {
  height: 100%;
}

.ant-layout {
  height: 100%;
}

.ant-layout-header {
  color: white;
  font-size: 18px;
}

.ant-layout-footer {
  line-height: 1.5;
}

.ant-layout-content {
  /* padding: 3rem; */
}

.spacer {
  flex-grow: 1;
}

.ant-layout-header, .ant-layout-content, .ant-layout-footer, .spacer {
  flex-shrink: 0;
}