.show-data {
    display: flex;
    /* align-items: center; */
    /* align-content: center; */
    justify-content: space-around;
    /* flex-shrink: 0; */
    padding: 0rem 4rem;
}

.portrait-meta {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 33%;
}

.show-title {
    padding: 2.5rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}

.episode-list {
    flex-basis: 66%;
}

.ant-card.ant-card-bordered.ant-card-hoverable {
    margin: 0 auto;
}

/* .show {
    display: flex;
    flex-direction: column;
} */

.loading {
    width: 100%;
}

.loading-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
}